header{
    border-bottom: 1px solid lightgray;
}
.hero{
    background-color: #EAFFF1;
}
/* hero images */
.default-hero-img{
    display: block;
}
.mobile-hero-img{
    display: none;
}
/* ads */
.default-ad{
    display: block;
}
.mobile-ad{
    display:none;
}

.hero-text-bg{
    background: linear-gradient(to left top, rgb(20, 59, 66) 0%, rgb(3, 147, 64) 100%);
    color: white;
    font-size: 1.8rem;
    text-align: center;
}
.highlighted-text{
    color: rgb(193, 255, 219);
    font-size: 1.5em;
}
h3{
    font-size: 2.4rem;
}
[data-blueText]{
    color:rgb(10, 35, 114);
}
.post-card{
    border: 1px solid lightgray;
}
.float-btn{
    position: fixed;
    background: rgb(48, 76, 134);
    color: white;
    bottom: 6px;
}
footer{
    text-align: center;
    background: #222222;
    color: white;
    padding: 42px 0;
}