body{
    font-family: "Shurjo" ;
}
header{
    border-bottom: 1px solid lightgray;
    background: white;
    transition:height 1s ease-out;
    overflow:hidden;
}

/* nav drop animation */
.animate{
    animation: drop .5s ease-in;
}

@keyframes drop {
    from{
        top: -90px;
    }
    to{
        top: 0%;
    }
}

main{
    margin-top: 90px;
}
.hero{
    background-color: #EAFFF1;
}

.hero-text-bg{
    background: linear-gradient(to left top, rgb(20, 59, 66) 0%, rgb(3, 147, 64) 100%);
    color: white;
    font-size: 1.8rem;
    text-align: center;
    text-indent: 100px;
    line-height: 1.5 !important;
}
.hero-container{
    /* padding: 0 100px; */
    width: 60%;
}   
.highlighted-text{
    color: rgb(193, 255, 219);
    font-size: 1.5em;
}

.text-green{
    color: #06632d;
    font-weight: bold;
}

a,a:hover{
    text-decoration: none;
    color: inherit;
}
h3{
    font-size: 2.4rem;
}
[data-blueText]{
    color:rgb(10, 35, 114);
}
.post-card{
    border: 1px solid lightgray;
}
.float-btn{
    transform: rotate(-90deg);
    transform-origin: top left 10px;
    position: fixed;
    
    background: rgb(48, 76, 134);
    color: white;
    bottom: 6px;
}
.float-btn:hover{
    color: white;
}
footer{
    text-align: center;
    background: #222222;
    color: white;
    padding: 42px 0;
}

@media only screen and (max-width:992px){
    .hero-text-bg{
        font-size: 1.4rem;
        text-indent: 0;
        line-height: 1.5 !important;
    }
    .hero-container{
        padding: 0 10px;
    }
}
